/* Main Content */
main {
  padding: 2rem 0;
  background-image: url('background-image.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Pour effet fixe */
}

/* Exclusion des vignettes */
.featured-article .featured-content,
.previous-articles .article {
  background-color: #E3E6E4; /* Mist */
  position: relative;
  z-index: 1;
}
